@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf)
    format('truetype');
}

*,
*::before, *::after  {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.newsletter-body {
    background-color: hsl(4, 100%, 67%);
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0%;
}
.page-frame{
    padding: -3px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px, solid, none;
}

.background-box {
    background-color: hsl(235, 18%, 26%);
    width: 90%;
    height: 80%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    width: 950%;
    display: flex;
    gap: 1rem;
    max-width: 750px;
}
.image-box img {
width: 100%;
height: auto;
border-radius: 10px;
object-fit: cover;
flex: 1;
margin: -0.5rem;
margin-left: 0.5rem;
}
@media (max-width: 900px){
 .image-box img {
 content: url("images/illustration-sign-up-tablet.svg")
 }   
}
@media (max-width: 600px){ 
 .image-box img {
 content: url("images/illustration-sign-up-mobile.svg")
 }   
}
.features {
   list-style: none;
   padding: 0;
margin: 1.5rem 0;
}
.features li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}
.features li img { 
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

h1 {
    margin-bottom: 1rem;
    color:hsl(234, 29%, 20%);
}

p {
    margin-bottom: 1.5rem;
    color:hsl(235, 18%, 26%);
    font-size: 16px;
    font-weight: 400, 700;
}
.email-form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

input[type="email"] {
    padding: 0.7rem;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
    font-size: 11px;
    font-family: inherit;
    outline: none;
    margin-bottom: 9px;
}

button{
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-size: 0.69rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: hsl(4, 100%, 67%)
}
label {
    font-size: 0.69rem;
    font-weight: 600;
    color:hsl(234, 29%, 20%);
    margin: 0;
}


.hidden {
    display: block;
    background-color: hsl(235, 18%, 26%);
    font-family: Roboto, Arial, sans-serif;
}
.success-card {
    background-color: white;
    width: 350px;
    padding: 25px;
    border-radius: 16px;
}
.success-card img {
    width: 30px;
    margin-bottom: 12px;
}
.success-card h1 {
    margin-bottom: 10px;
    color:hsl(234, 29%, 20%);
}
.success-card p {
    font-size: 14px;
    font-family: inherit;
    margin-bottom: 20px;
}

dismiss-button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: hsl(234, 29%, 20%); 
}
dismiss-button :hover {
background-color: hsl(4, 100%, 67%);
}

#user-email {
    text-decoration: underline;
    font-style: italic;
}

.success-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   font-family: Roboto, Arial, sans-serif;
 }