*  {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background-color: hsl(4, 100%, 67%);
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.background-box {
    background-color: hsl(235, 18%, 26%);
    width: 70%;
    height: 80%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}
.container {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    display: flex;
    gap: 2rem;
}
.image-box img {
width: 100%;
max-width:300px;
height: auto;
}
@media (max-width: 900px){
 .image-box img {
 content: url("images/illustration-sign-up-tablet.svg")
 }   
}
@media (max-width: 600px){ 
 .image-box img {
 content: url("images/illustration-sign-up-mobile.svg")
 }   
}
.features {
   list-style: none;
   padding: 0;
margin: 1.5rem 0;
}
.features li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}
.features li img { 
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

h1 {
    margin-bottom: 1rem;
    color:hsl(234, 29%, 20%);
}

p {
    margin-bottom: 1.5rem;
    color:hsl(235, 18%, 26%);
    font-size: 16px;
    font-weight: 400, 700;
}